!!!5

- var link_theoricus = 'https://github.com/theoricus/theoricus'
- var link_tweenmax = 'http://www.greensock.com/tweenmax/'
- var link_videojs = 'http://www.videojs.com/'
- var link_sequencer = 'https://github.com/davidpaulrosser/img-sequencer'
- var link_thepivot = 'https://github.com/hems/the-pivot'
- var link_preloadjs = 'http://www.createjs.com/#!/PreloadJS'
- var link_soundjs = 'http://www.createjs.com/#!/SoundJS'
- var link_threejs = 'http://threejs.org/'
- var link_maya = 'http://www.autodesk.co.uk/products/autodesk-maya/overview'
- var link_pymel = 'http://download.autodesk.com/us/maya/2011help/PyMel/'
- var link_scriptographer = 'http://scriptographer.org/'
- var link_sentimentanalysis = 'http://text-processing.com/docs/sentiment.html'
- var link_shapeways = 'https://www.shapeways.com/'
- var link_stylus = 'http://learnboost.github.io/stylus/'
- var link_stylusplatonic = 'https://github.com/davidpaulrosser/stylus-platonic'
- var link_nib = 'https://github.com/visionmedia/nib'
- var link_npm = 'https://www.npmjs.org/'

html

	head

		meta(charset="utf-8")

		- stylesheets = ['app', 'night', 'reveal']

		for css in stylesheets
			link(rel="stylesheet", href="/css/#{css}.css")

	body

		.reveal
			.slides
				section.slide_1
					.dpr
					p.twist_0
						| Brighton University talk / 2014
				section.slide_2
					section
						p.twist_1
							| The past 3 years...
						p
							img(src="/img/hires.png")
						p
							img(src="/img/digit.png")

				section
					section
						p
							| Recent works...

				section
					section
						p.twist_2
							| NOAH - Beginnings

						a(target="_blank", href="http://www.noahmovie.com/beginnings")
							img(src="/img/projects/noah/noah-begininngs.jpg")
					
					section
						p.twist_3
							| NOAH - The Ark

						a(target="_blank", href="http://www.noahmovie.com/theark")
							img(src="/img/projects/noah/noah-theark.jpg")
					
					section
						p.twist_4
							| Technology

						p
							ul
								li 
									a(target="_blank", href="#{link_theoricus}") Theoricus
								li 
									a(target="_blank", href="#{link_tweenmax}") TweenMax
								li 
									a(target="_blank", href="#{link_videojs}") VideoJS
								li 
									a(target="_blank", href="#{link_sequencer}") img-sequencer
								li 
									a(target="_blank", href="#{link_thepivot}") the-pivot
								li
									a(target="_blank", href="#{link_preloadjs}") preloadjs
								li
									a(target="_blank", href="#{link_soundjs}") soundjs

				section
					section
						p.twist_4
							| Touch it, Read it, Keep it.
					
					section
						p Prototyping in Maya
						img(src="/img/projects/touch_it/1.jpg")

					section
						p Prototyping in Maya
						img(src="/img/projects/touch_it/2.jpg")

					section
						p Prototyping in Maya
						img(src="/img/projects/touch_it/3.jpg")

					section
						p First 3D Printed prototypes
						img(src="/img/projects/touch_it/proto1.jpg")

					section
						img(src="/img/projects/touch_it/proto2.jpg")

					section
						p Text Processing with Sentiment Analysis 
						p Visualising the data with Scriptographer
						img(src="/img/projects/touch_it/4.jpg")

					section
						p Experimenting with a new design
						img(src="/img/projects/touch_it/5.jpg")

					section
						p Result
						img(src="/img/projects/touch_it/6.jpg")

					section
						img(src="/img/projects/touch_it/7.jpg")


					section
						p.twist_4
							| Technology

						p
							ul
								li 
									a(target="_blank", href="#{link_maya}") Maya
								li 
									a(target="_blank", href="#{link_pymel}") PyMEL
								li 
									a(target="_blank", href="#{link_scriptographer}") Scriptographer
								li 
									a(target="_blank", href="#{link_sentimentanalysis}") Sentiment analysis

						
						p.twist_5
							| Services

						p
							ul
								li 
									a(target="_blank", href="#{link_shapeways}") Shapeways

				section
					section
						p.twist_5 CHANEL J12 Moonphase
						a(target="_blank", href="http://www.chanel.com/en_GB/Watches/J12_Moonphase")
							img(src="/img/projects/chanel/chanel-moonphase.jpg")

					section
						p.twist_6
							| Technology

						p
							ul
								li 
									a(target="_blank", href="#{link_theoricus}") Theoricus
								li 
									a(target="_blank", href="#{link_tweenmax}") TweenMax
								li 
									a(target="_blank", href="#{link_sequencer}") img-sequencer
								li 
									a(target="_blank", href="#{link_thepivot}") the-pivot
								li
									a(target="_blank", href="#{link_preloadjs}") preloadjs
								li
									a(target="_blank", href="#{link_soundjs}") soundjs

				section
					section
						p
							| Personal works...

				section
					section
						p.twist_6
							| Brain Sculpture
						p Concept: 
							span.concept Fill a void with mass
						a(target="_blank", href="http://davidpaulrosser.co.uk/projects/brain")
							img(src="/img/projects/brain/brain.jpg")

					
					section
						p.twist_4
							| Technology

						p
							ul
								li 
									a(target="_blank", href="#{link_maya}") Maya
								li 
									a(target="_blank", href="#{link_pymel}") PyMEL

						
						p.twist_5
							| Services

						p
							ul
								li 
									a(target="_blank", href="#{link_shapeways}") Shapeways

				section
					section
						p.twist_7
							| Black Ice
						p
							span.concept Christmas art for 2013
						a(target="_blank", href="http://lab.davidpaulrosser.co.uk/webgl/black_ice")
							img(src="/img/projects/black_ice/black_ice.jpg")

						
					section
						p.twist_4
							| Technology

						p
							ul
								li 
									a(target="_blank", href="#{link_threejs}") threejs

				section
					section
						p.twist_8
							| Sierpinski
						p
							span.concept First experiment with WebGL
						a(target="_blank", href="http://lab.davidpaulrosser.co.uk/webgl/sierpinski")
							img(src="/img/projects/sierpinski/sierpinski.jpg")

					section
						p.twist_4
							| Technology

						p
							ul
								li 
									a(target="_blank", href="#{link_threejs}") threejs

				section
					section
						p.twist_9
							| Stylus Platonic
						p Concept: 
							span.concept Write a 3D library in pure CSS
						a(target="_blank", href="http://davidpaulrosser.github.io/stylus-platonic/")
							img(src="/img/projects/platonic/platonic.jpg")	

					
					section
						p.twist_4
							| Technology

						p
							ul
								li 
									a(target="_blank", href="#{link_stylus}") Stylus

								li 
									a(target="_blank", href="#{link_nib}") Nib

								li 
									a(target="_blank", href="#{link_stylusplatonic}") Stylus Platonic

								li 
									a(target="_blank", href="#{link_npm}") npm

				section
					section
						p
							| Experimental projects are invaluable
						p
							| They help you creatively and you gain a lot of experience from creating them

				section
					section
						p.twist_10
							| Questions?

				section
					section
						p.twist_11
							| Resources
						p
							a(target="_blank", href="http://twitter.com/davidpaulrosser") twitter/davidpaulrosser
						p
							a(target="_blank", href="http://github.com/davidpaulrosser") github/davidpaulrosser
						p
							a(target="_blank", href="http://hi-res.net") Hi-ReS!
						p
							a(target="_blank", href="http://github.com/hi-res") github/hi-res


		- javascripts = ['jquery-1.10.2.min', 'reveal.min', 'app']
		for js in javascripts
			script(src="/js/#{js}.js")
