random(n){ math(n, 'random') }

random-range(min, max)
    min + (random(1) * (max - min))

@font-face
	font-family: 'Droid Serif'
	font-style: normal
	font-weight: 400
	src: local('Droid Serif'), local('DroidSerif'), url('/fonts/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff') format('woff')

@font-face
	font-family: 'Droid Serif'
	font-style: normal
	font-weight: 700
	src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url('/fonts/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff') format('woff')

@font-face
	font-family: 'Droid Serif'
	font-style: italic
	font-weight: 400
	src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('/fonts/cj2hUnSRBhwmSPr9kS5894o3ZslTYfJv0R05CazkwN8.woff') format('woff')


body
	background-color: black

.dpr
	
	_width  = 160px
	_height = 160px

	display: inline-block
	background-image : url('/img/DPR.svg')
	background-size  : 100%
	// absolute           bottom 20px left 20px
	width  			 : _width
	height 			 : _height

.reveal
	p
		font-family: 'Droid Serif'
		// font-family: Times

	img
		border: none !important
		background: none !important

	.slide_1
		p
			margin-top: 50px

	section.present
		perspective: 800px
		transform-origin: 50%

	.quote
		font-family: 'Times'
		font-size: 1em
		margin-top: 20px

	.concept
		font-style: italic
		color: darken(white, 20%)


	// for i in 0...20
	// 	p(i)

	// 	.twist_{i}
	// 		rx = random-range(-1, 1)
	// 		ry = random-range(-1, 1)
	// 		rz = random-range(-1, 1)
	// 		rotation = unit(random-range(2, 4), deg)
	// 		transform: rotate3d(rx, ry, rz, rotation)
