
/* line 1 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/size.styl */

/* line 6 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url("/fonts/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff") format('woff');
}

/* line 12 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url("/fonts/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff") format('woff');
}

/* line 18 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url("/fonts/cj2hUnSRBhwmSPr9kS5894o3ZslTYfJv0R05CazkwN8.woff") format('woff');
}

/* line 25 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
body {
  background-color: #000;
}

/* line 28 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
.dpr {
  display: inline-block;
  background-image: url("/img/DPR.svg");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  width: 160px;
  height: 160px;
}

/* line 40 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */

/* line 41 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
.reveal p {
  font-family: 'Droid Serif';
}

/* line 45 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
.reveal img {
  border: none !important;
  background: none !important;
}

/* line 49 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */

/* line 50 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
.reveal .slide_1 p {
  margin-top: 50px;
}

/* line 53 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
.reveal section.present {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -o-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

/* line 57 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
.reveal .quote {
  font-family: 'Times';
  font-size: 1em;
  margin-top: 20px;
}

/* line 62 : /David/Projects/David/git/brighton_university_talk/src/styles/index.styl */
.reveal .concept {
  font-style: italic;
  color: #ccc;
}
